extends layout

block content
  div.detail
    h1=title 
    p.biline #{category.type}
    p.description #{category.description}

    div.list
        each item in items_in_category
            div.list-item
                a(href=item.url) #{item.name}
                |  (#{item.stock} in stock)

        else
            p There are no items.
    div.controls
        form(action='/inventory/item/create')
            button.btn.btn-primary(type='submit') Add new item
        form(action=`${category.url}/update`)
            button.btn.btn-primary(type='submit') Update category