extends layout

block content
  div.detail
    h1=title 
    p.biline #{item.type} in #{item.category.name}
    div.stock-info
      p.price $#{item.price}.00
      p #{item.stock===0 ? 'OUT OF STOCK' : item.stock + ' in stock'}
    p.description #{item.description}
    div.controls
      form(action= `${item.url}/update`)
          button.btn.btn-primary(type='submit') Update item
      form(action= `${item.url}/delete`)
          button.btn.btn-primary(type='submit') Delete item
  