extends layout

block content
  div.detail
    h1=title 
    p.biline #{item.type} in #{item.category.name}
    p.description #{item.description}
    div.stock-info
      p.price $#{item.price}.00
      p Number in stock: #{item.stock}
  
  