extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
        label(for='name') Item Name:
        input#name.form-control(type='text', placeholder='' name='name' value=(undefined===item ? '' : item.name))
    div.form-group        
        label(for='type') Type:
        br
        select#name.form-control(name='type' )
            option(value="Bike" ) Bike
            option(value="Component" ) Component
            option(value="Accessory" ) Accessory
    div.form-group        
        label(for='category') Category:
        br
        select#name.form-control(name='category' )
            each category in category_list
                option(value=category.id ) #{category.name}

            else
                p There are no items.

    div.form-group
        label(for='price') Price:
        br
        |$
        input#name.form-control(type='number',  name='price' value=(undefined===item ? '' : item.price))

    div.form-group
        label(for='stock') Amount in Stock:
        br
        input#name.form-control(type='number',  name='stock' value=(undefined===item ? '' : item.stock))

    div.form-group
        label(for='description') Description:
        br
        textarea#name.form-control(cols="40", rows="4" type='text', placeholder='Short description.' name='description') #{undefined===item ? '' : item.description}
    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg